# Database
DATABASE_URL="postgresql://user:password@localhost:5432/pixel_canvas"
REDIS_URL="redis://localhost:6379"

# Auth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""

# Admin
ADMIN_PASSWORD=""
NEXT_PUBLIC_ADMIN_PASSWORD=""

# Socket.io
SOCKET_PORT=3001
NEXT_PUBLIC_SOCKET_URL=""

# App
NEXT_PUBLIC_APP_URL=""

# AdSense
NEXT_PUBLIC_ADSENSE_CLIENT=""

# Vercel
VERCEL_URL=""
